<!--Photo Gallery Page-->
{% extends "layout.html" %}
{% load static %}

{% block title %}AAC{% endblock %}

{% block content %}
    <div class="background"></div>
    <div class="overlay"></div>
    <div class="container content">
        <div class="container-fluid about row g-3">
            <h1>About</h1>
            <p>The Amateur Astronomy Club, NITK Surathkal, is one of the oldest and most dynamic student communities on campus. 
                For decades, the club has been a hub for students who share a passion for the night sky, astronomy, and space 
                exploration. What began as a small group of enthusiasts has grown into a vibrant club that combines curiosity, 
                creativity, and collaboration to make astronomy accessible and exciting for all.<br>
                <br>
                Our activities span a wide spectrum, from hosting Starry Nights, where students gather under the sky for guided 
                stargazing sessions, to organizing science tours that provide first-hand exposure to observatories, research 
                facilities, and cutting-edge space science. The club also explores innovative avenues such as VR games, hands-on 
                projects, and interactive exhibits that merge technology with learning. In addition, we are one of the three 
                official fest committees at NITK, known as the AstroCommittee, curating unique experiences for the cultural 
                fest Incident and the technical fest Engineer. We also proudly host our very own flagship event, Astrofest, 
                which brings together the campus community in celebration of space and science.<br>
                <br>
                At the core of the club are our four Special Interest Groups (SIGs); Astronomy, Astrophysics, Astronautics, 
                and Astroverse. Each SIG provides members with opportunities to dive deeper into different aspects of space 
                sciences, whether it is observing celestial bodies, studying cosmic phenomena, designing projects inspired by 
                astronautics, or experimenting in Astroverse, an exclusive SIG open to recruited members. Guided by SIG heads 
                and coordinators, these groups ensure that every member finds their niche while also contributing to the larger 
                vision of the club.<br>
                <br>
                Blending learning with wonder, the Amateur Astronomy Club continues to inspire generations of students at 
                NITK to look up, explore, and dream beyond the stars.
            </p>
        </div>
    </div>
{% endblock %}