{% extends "layout.html" %}
{% load static %}

{% block title %}AAC{% endblock %}
{% block content %}
<div class="background"></div>
<div class="overlay"></div>

<div class="container content">
    <div class="container-fluid about row g-3">
        <h1>Astrocommittee</h1>
        <p>Astro committee is one of the three committees of Engineer – annual teach fest of institute. Astro committee 
            being the huge part of the technical fest, we have numerous projects to be presented during the fest. All the 
            preparation for this begins during the summer break after even semester, where proposals and brainstorming 
            sessions for deciding the projects get kickstarted. Work will be carried in teams by the students, procuring 
            the required materials, work almost every day for around 2-3 months before the tech fest. Diverse projects 
            ranging from Dysen Sphere, VR experience, solar trackers and making space suits, launching mini rockets with 
            the available propulsion systems. We work as team to complete the projects to present in the fest.
        </p>
        <br>
        <h4>Engineer 2024</h4>
        <h6>Antariksh Exhibition & Workshop</h6>
        <p>It featured an array of engaging models and simulations, offering attendees a hands-on experience with 
            fundamental and advanced space concepts. The event showcased detailed models of the James Webb Space 
            Telescope (JWST), a CubeSat, and a Dyson Sphere, each highlighting their significance in space exploration 
            and future technologies. Additionally, an interactive simulation event demonstrated the three-body problem 
            and the effects of gravity, allowing participants to visualize the complexities of celestial motion. The 
            exhibition provided a dynamic learning experience, sparking curiosity and discussions among students and visitors.
        </p>
        <h6>Inkterstellar – Sci-Fi Writathon (In collaboration with LSD's Litgig)</h6>
        <p>This was a science fiction writathon held during the Engineer fest of 2024 October, where 4 prompts were displayed 
            and the audience (around 23 two-membered teams which included non-NITK participants) were given 50 minutes to 
            write a prose or poem on the prompt of their choice. All stationary requirements were provided and the volunteers 
            from both clubs ensured that the event went on smoothly.
        </p>
        <h6>AstroKnowMe Quiz</h6>
        <p>A quiz event  to promote Interest in Astronomy, Outreach and Public Engagement, Testing Knowledge and 
            spreading awareness.
        </p>
        <h6>Ready Player One: Space Simulation Event</h6>
        <p>The Gaming Event, held at the Chemical Department, provided a platform for students to engage in a variety of 
            virtual games, offering both entertainment and a competitive spirit. Participants explored different gaming genres, 
            from strategy and simulation to fast-paced action and puzzles, fostering teamwork and interactive problem-solving.
        </p>
        <h6>AAC VR (In collaboration with Centre for System Design)</h6>
        <p>AAC VR was a fully immersive VR space experience virtually simulating a manned space mission on the 
            International Space Station to showcase the challenges in space and maneuvers to perform in the space module.
        </p>
        <img src="{% static 'Major Events/for astrocommittee/photo-collage.png (3).png' %}" class="img-fluid mb-3" alt="AstroCommittee">
    </div>
</div>
{% endblock %}