{% extends "layout.html" %}
{% load static %}

{% block title %}AAC{% endblock %}
{% block content %}
<div class="background"></div>
<div class="overlay"></div>

<div class="container content">
    <div class="container-fluid about row g-3">
        <h1>Knowledge Sharing Sessions(KSS)</h1>
        <p>With the aim of educating the school children with the fascinating space science. Spread the knowledge through 
            multiple KSS sessions taken by our own club members. We aim to educate schools students, conduct simple quizzes 
            for them and make them understand about the universe which are part of and made of. Our motto for conducting KSS 
            is to spread the word about this miraculous universe.<br><br>
        Encourage the KSS and conduct some forum discussion like “Are we alone in this universe?”, “Presence of Aliens”, 
        “Myths vs facts about astronomy” where students actively participate and engage in the knowledge sharing sessions.
        </p>
    </div>
</div>
{% endblock %}