<!--Photo Gallery Page-->
<!--Views Photos in cards style-->
{% extends "layout.html" %}
{% load static %}

{% block title %}AAC{% endblock %}

{% block content %}
    <div class="background"></div>
    <div class="overlay"></div>
    <div class="container content mb -3">
        <h1>Gallery</h1>
        <p>Explore the wonders of the universe through the lens of our club members. 
            From stargazing sessions to astrophotography projects, 
            our gallery showcases the beauty of the cosmos.</p>
    </div>

    <div class="photo-gallery-page">
        <div class="container d-flex flex-wrap justify-content-center gap-4 img-sections">
        {% for category in galleries %}
            <div class="card mb-3" style="width: 240px; height: 160px;">

                <img class="card-img-bottom justify-end" src="{{ category.cover_image.url }}" 
                alt="{{ category.get_category_display }}" 
                style="width: 100%; height: 100%; object-fit: cover; border-radius: 0;">

                <div class="card-body card-img-overlay">

                    <h5 style="max-width: 120px;" class="card-title text-white">{{ category.get_category_display }}</h5>

                    <a href="{% url 'image' category.category %}" class="hidden stretched-link"></a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}